{% extends 'emailservisapp/base.html' %}
{% load my-tags %}
{% block content %}
<section class="py-5 text-center container">
    <div>
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light">Попытки рассылок</h2>
        </div>
        <a class="btn btn-danger" href="{% url 'emailservisapp:attempt_create' %}" role="button">Создать
            попытку рассылки</a>
    </div>
    <p>Всего попыток: {{ total_attempts }}</p>
    <p>Успешных попыток: {{ successful_attempts }}</p>
    <p>Неуспешных попыток: {{ unsucessful_attempts }}</p>
    <p>Количество отправленных сообщений: {{ sending_mails }}</p>
</section>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for attempt in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">попытка номер: {{ attempt.id }}</p>
                        <p class="card-text">рассылка: {{ attempt.mailing.id }}</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary"
                                   href="{% url 'emailservisapp:attempt_detail' attempt.pk %}"
                                   role="button">Перейти к попытке рассылки</a>
                                <a class="btn btn-info"
                                   href="{% url 'emailservisapp:attempt_update' attempt.pk %}"
                                   role="button">Редактировать</a>

                                <a class="btn btn-danger"
                                   href="{% url 'emailservisapp:attempt_delete' attempt.pk %}"
                                   role="button">Удалить</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}