{% extends 'emailservisapp/base.html' %}
{% load my-tags %}
{% block content %}
<section class="py-5 text-center container">
    <div>
        <div class="col-lg-6 col-md-8 mx-auto">
            <h2 class="fw-light">Получатели рассылки</h2>
        </div>
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'emailservisapp:client_create' %}" role="button">Создать получателя
            рассылки</a>
        {% endif %}
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for client in object_list %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                {% if user == client.owner or perms.emailservisapp.view_client %}
                                <p class="card-text">получатель номер: {{ client.id }}</p>
                                <p class="card-text">почта получателя: {{ client.email }}</p>
                                <p class="card-text">комментарий: {{ client.comment|truncatechars:10 }}</p>
                                {% endif %}
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {% if user == client.owner or perms.emailservisapp.view_client %}
                                        <a class="btn btn-primary"
                                           href="{% url 'emailservisapp:client_detail' client.pk %}"
                                           role="button">Перейти к получателю</a>
                                        {% endif %}
                                        {% if user == client.owner %}
                                        <a class="btn btn-info"
                                           href="{% url 'emailservisapp:client_update' client.pk %}"
                                           role="button">Редактировать</a>

                                        <a class="btn btn-danger"
                                           href="{% url 'emailservisapp:client_delete' client.pk %}"
                                           role="button">Удалить</a>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}